# Ignore environment files
**/.env

# Ignore model files inside models/ (but not the folder itself)
#models/*.h5
models/*.pkl
models/*.pt
models/*.joblib
models/*.tflite

# Keep folder even if empty
!models/.gitkeep

# Ignore Python virtual environment
venv/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore node_modules for frontend
**/node_modules/

# Ignore system/IDE files
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
